input.error,
input.error:focus,
textarea.error,
textarea.error:focus{
  border-color: red;
}
/*--------------------------------------------------------------
# Alignments wp
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

