@mixin foundation-typography-base {
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: inherit;
    line-height: $paragraph-lineheight;
    margin-bottom: $paragraph-margin-bottom;
    text-rendering: $paragraph-text-rendering;
  }

  em,
  i {
    font-style: italic;
    line-height: inherit;
  }

  strong,
  b {
    font-weight: $global-weight-bold;
    line-height: inherit;
  }

  small {
    line-height: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-style: $header-font-style;
    color: $header-color;
    text-rendering: $header-text-rendering;
    margin-top: 0;
    margin-bottom: $header-margin-bottom;
    line-height: $header-lineheight;

    small {
      color: $header-small-font-color;
      line-height: 0;
    }
  }

  @each $size, $headers in $header-sizes {
    @include breakpoint($size) {
      @each $header, $font-size in $headers {
        #{$header} {
          font-size: em-calc($font-size);
        }
      }
    }
  }

  a {
    color: $anchor-color;
    text-decoration: $anchor-text-decoration;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $anchor-color-hover;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }

    img {
      border: 0;
    }
  }

  hr {
    max-width: $hr-width;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: $hr-border;
    border-left: 0;
    margin: $hr-margin;
    clear: both;
  }

  ul,
  ol,
  dl {
    line-height: $list-lineheight;
    margin-bottom: $list-margin-bottom;
    list-style-position: $list-style-position;
  }

  li {
    font-size: inherit;
  }

  ul {
    list-style-type: $list-style-type;
    margin-#{$global-left}: $list-side-margin;
  }

  ol {
    margin-#{$global-left}: $list-side-margin;
  }

  ul, ol {
    & & {
      margin-#{$global-left}: $list-nested-side-margin;
      margin-bottom: 0;
    }
  }

  dl {
    margin-bottom: $defnlist-margin-bottom;

    dt {
      margin-bottom: $defnlist-term-margin-bottom;
      font-weight: $defnlist-term-weight;
    }
  }

  blockquote {
    margin: 0 0 $paragraph-margin-bottom;
    padding: $blockquote-padding;
    border-#{$global-left}: $blockquote-border;

    &, p {
      line-height: $paragraph-lineheight;
      color: $blockquote-color;
    }
  }

  cite {
    display: block;
    font-size: $cite-font-size;
    color: $cite-color;

    &:before {
      content: '\2014 \0020';
    }
  }

  abbr {
    color: $body-font-color;
    cursor: help;
    border-bottom: $abbr-underline;
  }

  code {
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    color: $code-color;
    background-color: $code-background;
    border: $code-border;
    padding: $code-padding;
  }

  kbd {
    padding: $keystroke-padding;
    margin: 0;
    background-color: $keystroke-background;
    color: $keystroke-color;
    font-family: $keystroke-font;

    @if has-value($keystroke-radius) {
      border-radius: $keystroke-radius;
    }
  }
}
